@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Noto Sans Mono', monospace;
}

.bannerColor{
    background-color: #ffbb00;
}

.tabs a{
    color:black;
}

.tabs a:hover{
    color: white;
    transition: 0.3s;
}


.menuItems{
    font-size: 1.9rem;
    font-weight: 500;
    text-decoration: none;
}

.mainBody{
    flex: 1;
}

.padding1{
    margin-left: 2px;
    margin-bottom: 2px;
}

.dropdown-item{
    color: black;
}

.dropdown-content{
    color: black;
}

.card{
    background-color: white;
}

.card-content{
    font-weight: 500;
}

.navbar {
    min-height: 5rem;
    font-weight: 600;
    font-size: 1.2rem;
  }

.navbar-item img {
    max-height: 5rem;
    height: 100%;
    margin-right: 4rem;
    max-width: 100%;
}
.buttonBlackBorder, .buttonNoBorder:hover, .buttonNoBorder.is-hovered
{
    border-color:black;
}

.button:hover{
    transition: 0.3s;
    border-color: rgb(189, 189, 189);
}

a.navbar-item:hover{
    color: black;
    background-color: #ffbb00;
}

.linksContact{
    color: black;
}

.linksContact{
    color: black;
}

.linksContact:hover{
    text-shadow: 2px 2px 4px #dfdfdf;
}

.footer{
    background-color: white;
    color: rgb(49, 49, 49);
    padding: 3rem 1.5rem;
}