<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KPS Index</title>
  <link rel="stylesheet" href="{{ url_for("static",filename="bulma/css/bulma.css")}}" />
  <link rel="stylesheet" href="{{ url_for("static",filename="styles.css")}}" />
  <link rel="stylesheet" href="{{ url_for("static",filename="fontAwesome/css/all.css")}}" />
  <link rel="stylesheet" href="{{ url_for("static",filename="payment/lib/paymentMethods.cards.min.css")}}" />
  <link rel="stylesheet" href="{{ url_for("static",filename="payment/lib/paymentMethods.min.css")}}" />
  <link rel="stylesheet" href="{{ url_for("static",filename="payment/lib/paymentApproaches.all.cards.min.css")}}" />
  <link rel="icon" href="{{ url_for("static",filename="img/KPSlogoNEW_NEW.svg")}}"/>
</head>

<body style="display: flex; min-height: 100vh; flex-direction:column;">
  <nav class="navbar bannerColor" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ url_for("index")}}">
        <img src="{{url_for("static",filename="img/KPSlogoNEW_NEW.svg")}}" alt="kpsLogoNew">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ url_for("contact")}}">
          Kontakt
        </a>
  
        <!--<div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-item">
            Sortiment
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Spojovací Materiál
            </a>
            <a class="navbar-item">
              Hutný Materiál
            </a>
            <a class="navbar-item">
              Vodárenský Materiál
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Elektro Materiál
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Šporáky, kachle, dymovina
            </a>
            <a class="navbar-item">
              Pletivá, siete, drôty
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="drogeria.html">
              Drogéria
            </a>
          </div>
        </div> -->

        <a class="navbar-item" href="{{ url_for("news")}}">
          Novinky
        </a>
        
      </div>
  
      <div class="navbar-end">
            <a class="navbar-item" href="tel:+421905361241">
              <strong><p class=" fas fa-phone-alt"></p> 0905 361 241</strong>
            </a>
      </div>
    </div>
  </nav>
  </section>

  <section class="section fontSection" style="flex:1;" >
    <div class="columns has-text-centered">
        <div class="column is-3 is-offset-3">
            <ul class="contactColor contactColumn" style="padding-top: 0.25rem; padding-bottom: 0.25rem;">
                <li>
                    <span><i class="fas fa-lg fa-envelope-open-text" style="color: #BB001B;"></i></span>
                    <span><a class="linksContact mobile" href="mailto:kps-trebatice@t-network.sk">e-mail</a></span>
                </li>

                <li>
                    <span><i class="fas fa-lg fa-phone-alt"></i></span>
                    <span><a class="linksContact" href="tel:+421905361241">0905 361 241</a></span>
                </li>

                <li>
                    <span><i class="fab fa-lg fa-whatsapp" style="color: #075e54;"></i></span>
                    <span><a class="linksContact" href="https://wa.me/421905361241" target="_blank">WhatsApp</a></span>
                </li>
            </ul>
        </div>

        <div class="column is-3">
            <ul class="contactColor contactColumn" style="padding-top: 0.25rem; padding-bottom: 0.25rem;">
                <li>
                    <span><i class="fab fa-lg fa-facebook-f" style="color: #4267B2;"></i></span>
                    <span><a class="linksContact" href="https://www.facebook.com/zeleziarstvotrebatice/" target="_blank">Facebook</a></span>
                </li>
                  
                <li>
                    <span><i class="fab fa-lg fa-telegram" style="color: #0088cc;"></i></span>
                    <span><a class="linksContact" href="https://t.me/kpstrebatice" target="_blank">Telegram</a></span>
                </li>

                <li>                              
                    <span><i class="fab fa-lg fa-instagram" style="color: #C13584;"></i></span>
                    <span><a class="linksContact" href="https://www.instagram.com/kps_trebatice/" target="_blank">Instagram</a></span>
                </li>
            </ul>
        </div>
    </div>


    <div class="columns has-text-centered">
        <div class="column is-offset-3 is-6">
          <ul class="contactColor contactAddress">
            <li style="padding-top: 0.25rem; padding-bottom: 0.25rem;">
                <span><a class="linksContact" href="https://g.page/zeleziarstvotrebatice?share" target="_blank">Štúrova 263/19, 922 10 Trebatice</a></span>
            </li>
            <li>
              <figure>
                <iframe class="contactMap" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d42221.80714336262!2d17.758529!3d48.593323!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6299a7824b563ec0!2sKPS%20-%20priemyseln%C3%BD%20tovar%2C%20s.r.o.!5e0!3m2!1sen!2sus!4v1614808582117!5m2!1sen!2sus" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </figure>
            </li>
        </ul>

        </div>
    </div>
  </section>

  <footer class="footer" style="margin-top: 5rem;">
  <div class="columns is-centered">
    <div class="column is-narrow">
      <ul>
        <li class="nadpis">Kontakt</li>
        <li>Telefón: 0905 361 241</li>
        <li>E-mail: kps-trebatice@t-network.sk</li>
        <li>&nbsp;</li>
        <li style="font-size: 2.5rem;">
        <i class="paymentMethod visa paymentMethod-card"></i>
        <i class="paymentMethod mastercard paymentMethod-card"></i>
        <i class="paymentMethod payWithGoogle paymentMethod-card"></i>
        <i class="paymentMethod applePay paymentMethod-card"></i>
        </li>

        </ul>
    </div>
    
    <div class="column is-narrow">
      <ul>
        <li class="nadpis">Kde nás nájdete?</li>
        <li>KPS Priemyselný tovar s.r.o</li>
        <li>IČO: 36658243</li>
        <li>DIČ: 2022225931</li>
        <li>Štúrova 263/19</li>
        <li>922 10 Trebatice</li>
      </ul>
    </div>

    <div class="column is-narrow">
      <ul>
        <li class="nadpis">Otváracie hodiny</li>
        <li>PO: Zatvorené</li>
        <li>UT: 8:00-12:30 13:00-16:30</li>
        <li>ST: 8:00-12:30 13:00-16:30</li>
        <li>ŠT: 8:00-12:30 13:00-16:30</li>
        <li>PI: 8:00-12:30 13:00-16:30</li>
        <li>SO: 8:00-12:30</li>
        <li>NE: Zatvorené</li>
      </ul>
    </div>
    
  </footer>
  
  <script type="text/javascript" src="{{url_for("static",filename="bulma.js")}}"></script>
</body>

</html>