<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KPS Index</title>
  <link rel="stylesheet" href="static/bulma/css/bulma.css" />
  <link rel="stylesheet" href="static/styles.css" />
  <link rel="stylesheet" href="static/fontAwesome/css/all.css" />
  <link rel="stylesheet" href="static/payment/lib/paymentMethods.cards.min.css" />
  <link rel="stylesheet" href="static/payment/lib/paymentMethods.min.css" />
  <link rel="stylesheet" href="static/payment/lib/paymentApproaches.all.cards.min.css" />
  <link rel="icon" href="static/img/KPSlogoNEW_NEW.svg"/>
</head>

<body style="display: flex; min-height: 100vh; flex-direction:column;">
  <nav class="navbar bannerColor" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="index">
        <img src="static/img/KPSlogoNEW_NEW.svg" alt="kpsLogoNew">
      </a>
  
      <a role="button" class="navbar-burger has-dropdown" aria-label="menu" aria-expanded="false" data-target="navbarBurger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBurger" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="contact">
          Kontakt
        </a>
  
                <!--<div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-item">
            Sortiment
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Spojovací Materiál
            </a>
            <a class="navbar-item">
              Hutný Materiál
            </a>
            <a class="navbar-item">
              Vodárenský Materiál
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Elektro Materiál
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Šporáky, kachle, dymovina
            </a>
            <a class="navbar-item">
              Pletivá, siete, drôty
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="drogeria.html">
              Drogéria
            </a>
          </div>
        </div> -->

        <a class="navbar-item" href="news">
          Novinky
        </a>

        <a class="navbar-item" href="gallery">
          Galéria
        </a>
        
      </div>
  
      <div class="navbar-end">
            <a class="navbar-item is-hidden-mobile" href="tel:+421905361241">
              <strong><p class=" fas fa-phone-alt"></p> 0905 361 241</strong>
            </a>
      </div>
    </div>
  </nav>
  </section>

<section class="sectionGallery" style="flex:1;" >
    <div class="columns has-text-centered">
        <div class="column">
            <div>
                <figure>
                    <img class="gallery" src="static/photo/resized/gallery_1.jpg" onclick="onClick(this)">
                </figure>
            </div>
        </div>
        <div class="column">
            <div>
                <figure>
                    <img class="gallery" src="static/photo/resized/gallery_2.jpg">
                </figure>
            </div>
        </div>
        <div class="column">
            <div>
                <figure>
                    <img class="gallery" src="static/photo/resized/gallery_3.jpg">
                </figure>
            </div>
        </div>
    </div>

    <div class="columns has-text-centered">
        <div class="column">
            <div>
                <figure>
                    <img class="gallery" src="static/photo/resized/gallery_4.jpg">
                </figure>
            </div>
        </div>
        <div class="column">
            <div>
                <figure>
                    <img class="gallery" src="static/photo/resized/gallery_5.jpg">
                </figure>
            </div>
        </div>
        <div class="column">
            <div>
                <figure>
                    <img class="gallery" src="static/photo/resized/gallery_6.jpg">
                </figure>
            </div>
        </div>
    </div>

    <div class="columns has-text-centered">
        <div class="column">
            <div>
                <figure>
                    <img class="gallery" src="static/photo/resized/gallery_7.jpg">
                </figure>
            </div>
        </div>
        <div class="column">
            <div>
                <figure>
                    <img class="gallery" src="static/photo/resized/gallery_8.jpg">
                </figure>
            </div>
        </div>
        <div class="column">
            <div>
                <figure>
                    <img class="gallery" src="static/photo/resized/gallery_9.jpg">
                </figure>
            </div>
        </div>
    </div>

    









</section>





  <footer class="footer">
  <div class="columns is-centered">
    <div class="column is-narrow">
      <ul>
        <li class="nadpis">Kontakt</li>
        <li>Telefón: 0905 361 241</li>
        <li>E-mail: kps-trebatice@t-network.sk</li>
        <li>&nbsp;</li>
        <li style="font-size: 2.5rem;">
        <i class="paymentMethod visa paymentMethod-card"></i>
        <i class="paymentMethod mastercard paymentMethod-card"></i>
        <i class="paymentMethod payWithGoogle paymentMethod-card"></i>
        <i class="paymentMethod applePay paymentMethod-card"></i>
        </li>

        </ul>
    </div>
    
    <div class="column is-narrow">
      <ul>
        <li class="nadpis">Kde nás nájdete?</li>
        <li>KPS Priemyselný tovar s.r.o</li>
        <li>IČO: 36658243</li>
        <li>DIČ: 2022225931</li>
        <li>Štúrova 263/19</li>
        <li>922 10 Trebatice</li>
      </ul>
    </div>

    <div class="column is-narrow">
      <ul>
        <li class="nadpis">Otváracie hodiny</li>
        <li>PO: Zatvorené</li>
        <li>UT: 8:00-12:30 13:00-16:30</li>
        <li>ST: 8:00-12:30 13:00-16:30</li>
        <li>ŠT: 8:00-12:30 13:00-16:30</li>
        <li>PI: 8:00-12:30 13:00-16:30</li>
        <li>SO: 8:00-12:30</li>
        <li>NE: Zatvorené</li>
      </ul>
    </div>
    
  </footer>
  
  <script type="text/javascript" src="static/bulma.js"></script>

</body>

</html>